/*! .m6kn - module kinetic text --------- */
.shopify-section:has(.m6kn) { position: relative; }	


/*! Layout --------- */
#nav-top .m6kn { min-width: 0; margin: 0; line-height: var(--main_lh); flex-grow: 3; }
	#nav-top .m6kn ul { display: flex !important; flex-direction: row; margin-top: 0; margin-bottom: 0; }
	#nav-top .m6kn ul li { margin-left: 0; margin-right: var(--dist); }
	#nav-top .m6kn .l4us { max-width: none; }
	#nav-top .m6kn .l4us > li { overflow: visible; max-width: none; text-overflow: inherit; }
	#nav-top .m6kn.dot .l4us > li:after, #nav-top .m6kn .l4us > li ~ li { display: block; }
				
.m6kn { min-height: var(--mih); margin-bottom: var(--main_mr); line-height: var(--main_lh_h); --mih: 0px; --sep: "\2022"; }
	.m6kn.size-xs { --mih: 260px; }
	.m6kn.size-s { --mih: 390px; }
	.m6kn.size-m { --mih: 520px; }
	.m6kn.size-l { --mih: 700px; }
	.m6kn ul { list-style: none; margin-top: 0; margin-bottom: 0; padding: 0; line-height: var(--main_lh_h); --gap: var(--dist); }
	.m6kn .l4us { margin-left: 0; margin-right: 0; line-height: var(--main_lh); }
		#root .m6kn .l4us { margin-top: 0; }
		#root .m6kn .l4us li:before { top: 50%; margin-top: calc(0px - var(--main_lh) * var(--main_fz) * 0.5); }
	.m6kn:first-child, link:first-child + .m6kn { margin-top: 0; }
.m6kn:not(.type) { white-space: nowrap; }
	.m6kn:not(.type):not([style*="--dist:"]) li:after { content: "\00a0"; }
	.m6kn figure { margin: 0; flex-shrink: 0; }
	.m6kn[style*="--dist:"]:not(.type) .l4us { --dist: inherit; }
.m6kn:not(.type) { overflow: visible; position: relative; z-index: 2; line-height: var(--main_lh_h); --duration: 20s; --durr: 10s; --dist: 0px; }
	.m6kn:not(.type) li { position: relative; z-index: 2; margin-right: var(--dist); }
	.m6kn:not(.type) a { color: inherit; text-decoration: none; }
	.m6kn.dot:not(.type) li:after { content: var(--sep); position: absolute; left: 100%; top: 0; bottom: 0; width: var(--dist); text-align: center; }
	.m6kn.dot:not(.type) { --dist: var(--rpp); }
	.m6kn:not(.type) .clone { position: absolute; right: var(--l1ra); left: var(--lar1); top: 0; bottom: 0; }
	.m6kn.m6bx:not(.type) .clone { top: var(--dist_a); }
	.m6bx:not(.wide):has(.m6kn), .m6kn.m6bx:not(.wide) { overflow: hidden; }
.m6kn.type:not(.done) { visibility: hidden; opacity: 0; pointer-events: none; }
	.m6kn.type li { list-style: none; }
	.m6kn.type p, .m6kn.type h1, .m6kn.type h2, .m6kn.type h3, .m6kn.type h4, .m6kn.type h5, .m6kn.type h6 { display: inline; }
	.m6kn.type .inner { display: block; width: 100%; }
		.m6bx.m6kn > ul, .m6bx.m6kn.type .inner, .m6bx .m6kn.type .inner { margin-bottom: var(--main_mr); }
#root .m6kn:not(.done) > ul ~ ul { display: none; }

@media only screen and (max-width: 760px) {
.m6kn.size-50 { font-size: var(--size_20_f); }
}


/*! Flexbox --------- */
.m6kn:not(.type), .m6kn:not(.type) ul, .m6kn.type[style*="--mih"], .m6kn.dot:not(.type) li:after, .m6kn:not(.type), .m6kn:not(.type) ul { display: flex; flex-direction: row; }
.m6kn.dot:not(.type) li:after { justify-content: center; }
.m6kn, .m6kn:not(.type) ul, .m6kn.type[style*="--mih"], .m6kn.dot:not(.type) li:after, .m6kn:not(.type) .cols { align-items: center; }
.m6kn:not(.type) ul/*, .m6kn:not(.type) li, .m6kn:not(.type) li **/ { flex-shrink: 0; }


/*! Async --------- */
/*.no-js .m6kn, .m6kn.type li ~ li { display: none; }
.m6kn.done:not(.type) { white-space: nowrap; }*/
	.m6kn.slow:not(.type) { --durr: 25s; }
	.m6kn.fast:not(.type) { --durr: 5s; }
	.m6kn[style*="--items"]:not(.type) { --duration: calc(var(--items) * var(--durr)); }
	.m6kn:not(.type) ul { animation: scroll var(--duration) linear infinite; animation-delay: .1s; }
.m6kn.inv ul, [dir="rtl"] .m6kn ul { animation-direction: reverse; }
[dir="rtl"] .m6kn.inv ul { animation-direction: normal; }
.Typewriter__cursor { font-weight: var(--main_fw); }
	.no-cursor .Typewriter__cursor { display: none; }
	.Typewriter__wrapper:has(h1, h2, h3, h4, h5, h6) ~ .Typewriter__cursor { font-family: var(--main_ff_h); line-height: var(--main_lh_h); }
		.Typewriter__wrapper:has(h1) ~ .Typewriter__cursor { font-size: var(--main_h1); }
		.Typewriter__wrapper:has(h2) ~ .Typewriter__cursor { font-size: var(--main_h2); }
		.Typewriter__wrapper:has(h3) ~ .Typewriter__cursor { font-size: var(--main_h3); }
		.Typewriter__wrapper:has(h4) ~ .Typewriter__cursor { font-size: var(--main_h4); }
		.Typewriter__wrapper:has(h5) ~ .Typewriter__cursor { font-size: var(--main_h5); }
		.Typewriter__wrapper:has(h6) ~ .Typewriter__cursor { font-size: var(--main_h6); }
		

/*! Animations --------- */
@keyframes scroll { 0% { transform: none; } 100% { transform: translateX(-100%); }}


/*! Responsive --------- */
@media only screen and (max-width: 1356px) {
.m6kn.size-m { --mih: 37.8571428571vw; }
.m6kn.size-l { --mih: 50.76628352vw; }
}
@media only screen and (min-width: 761px) {
#nav-top .m6kn:not(.type, :first-child:last-child, :first-child:has(+.overlay-close:last-child)) { overflow: hidden; }
	[dir="ltr"] #nav-top .m6kn:not(.type, :first-child:last-child, :first-child:has(+.overlay-close:last-child)) { margin-left: min(var(--rpn), calc(-50vw + var(--ghw) * 0.5) + var(--scrollbar_width) * 0.5); margin-right: var(--rpp); }
	[dir="rtl"] #nav-top .m6kn:not(.type, :first-child:last-child, :first-child:has(+.overlay-close:last-child)) { margin-right: min(var(--rpn), calc(-50vw + var(--ghw) * 0.5) + var(--scrollbar_width) * 0.5); margin-left: var(--rpp); }
	#root #nav-top .m6kn:has(+ul>li.mobile-only:first-child) { overflow: visible; }
}
@media only screen and (max-width: 760px) {
.m6kn.size-xs-mobile { --mih: 0px !important; }
.m6kn.size-s-mobile { --mih: 140px !important; }
.m6kn.size-m-mobile { --mih: 195px !important; }
.m6kn.size-l-mobile { --mih: 260px !important; }
}