.m15 a {
  color: #00b4b7 !important;
}
.noUi-connect:before {
  background: #00b4b7 !important;
}
.accordion-a details[open] summary span {
    color: #00b4b7 !important;
}
.l4in li.active > a {
    color: #00B4B7 !important;
}
#totop a::before {
    background: #00B4B7 !important;
}
.swiper-custom-pagination .swiper-pagination-bullet-active {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #00B4B7 !important;
}