.m15 a {
  color: #00b4b7 !important;
}
.noUi-connect:before {
  background: #00b4b7 !important;
}
.accordion-a details[open] summary span {
    color: #00b4b7 !important;
}
.l4in li.active > a {
    color: #00B4B7 !important;
}
#totop a::before {
    background: #00B4B7 !important;
}
.l4pr
  .swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
border-color: #00B4B7;
}
.check input:checked~label:before{
 border-color: #00B4B7;   
}
#search input:focus {
    border-color: #00B4B7 !important;
}
#cart .m6pn-close,
#cart .m6pn-close i {
    color: #00B4B7 !important;
}
#root #header .f8vl label .overlay-theme,
#root .m6pn.f8vl label .overlay-theme {
    color: #00B4B7 !important;
}
#nav-user>ul>li>form a:not(.show),
#nav-user>ul>li>form a:not(.show) span {
    color: #00B4B7 !important;
    text-decoration-color: #00B4B7 !important;
}
#root #header .f8vl input:focus {
    border-color: #00B4B7 !important;
}
#customer_login button.overlay-primary::before {
  background-color: #00b4b7 !important;
}