.m15 a {
  color: #00b4b7 !important;
}
.noUi-connect:before {
  background: #00b4b7 !important;
}
.accordion-a details[open] summary span {
    color: #00b4b7 !important;
}
.l4in li.active > a {
    color: #00B4B7 !important;
}
#totop a::before {
    background: #00B4B7 !important;
}
.l4pr
  .swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
border-color: #00B4B7;
}
.check input:checked~label:before{
 border-color: #00B4B7;   
}
#search input:focus {
    border-color: #00B4B7 !important;
}
#cart .m6pn-close,
#cart .m6pn-close i {
    color: #00B4B7 !important;
}

.overlay-a, .overlay-theme, .m6tx .overlay-theme, #root .l4cl li.link a, #root .l4dr li.active>a, .l4dr li.has-social.toggle>a i, .l4in li.active a, .accordion-a details[open] summary, .n6br a.overlay-theme, .n6br li.strong a, .n6br li a.strong, .m6bx .l4in a
Specificity: (0,3,3)
 {
    color: #00B4B7;
}

#root #header .f8vl input:focus {
    border-color: #00B4B7 !important;
}
