.m15 a {
  color: #00b4b7 !important;
}
.noUi-connect:before {
  background: #00b4b7 !important;
}
.accordion-a details[open] summary span {
    color: #00b4b7 !important;
}
.l4in li.active > a {
    color: #00B4B7 !important;
}
#totop a::before {
    background: #00B4B7 !important;
}
*, *:before, *:after {
    outline-color: var(--secondary_bg);
}